<form action="{% url 'filter' %}" method="get">

  <div class="d-flex">
    <h3>Filters:</h3>
    <button type="button" class="btn badge text-bg-primary ms-auto" data-bs-toggle="modal"
      data-bs-target="#addTaskModal">
      Add +
    </button>
  </div>
  <hr>

  <div>
    <p>Task Status:</p>
    <select name="status" class="form-select">

      {% if not filter %}
      <option value="" selected>Select status..</option>
      <option value="TD">todo</option>
      <option value="IP">in-progress</option>
      <option value="DN">done</option>
      {% else %}
      <option value="">Select status..</option>
      <option value="TD" {% if filter == "TD" %}selected{% endif %}>todo</option>
      <option value="IP" {% if filter == "IP" %}selected{% endif %}>in-progress</option>
      <option value="DN" {% if filter == "DN" %}selected{% endif %}>done</option>
      {% endif %}

    </select>

    <hr>
  </div>

  <div>
    <button type="submit" class="btn btn-success">Find</button>
    <a href="{% url 'home' %}" class="btn btn-danger">Clear Filter</a>
  </div>

</form>