{% extends 'base/base.html' %}

{% block body %}
  {% include 'base/navbar.html' %}

  {% include 'todo/add-task.html' %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show w-75 mx-auto mt-3" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container-fluid mt-3 px-0">
    <div class="d-flex">
      <div class="w-25 px-3 py-2" style="background:#e0e0e0">
        {% include 'todo/filters.html' %}
      </div>

      <div class="w-75 ms-2">
        {% include 'todo/search_task.html' %}
        {% include 'todo/tasks_table.html' %}
      </div>
    </div>
  </div>
{% endblock %}
