{% load crispy_forms_tags %}
{% load custom_tags %}

<div class="modal fade" id="updateTaskModal-{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Task Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{task.title}}</p>
        <form action="{% url "update_task" task.id %}" method="post">
            {% csrf_token %}
            {% with from=update_forms|get_item:task.id %}
                {{ from|crispy}}
            {% endwith %}

            <div class="modal-footer mt-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </form>
      </div>
      
    </div>
  </div>
</div>